.containerAbout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7vh 50vh auto auto;
  gap: 1rem;
  row-gap: 4.5rem;
  grid-template-areas:
    "area1 area1"
    "area2 area3"
    "area4 area4"
    "area5 area6";
  margin-top: 2rem;
  margin-bottom: 7.5%;
}
.areaHeader {
  grid-area: area1;
}
.logo {
  grid-area: area2;
}
.aboutD {
  grid-area: area3;
}
.aboutImg {
  grid-area: area4;
}
.ourH {
  grid-area: area5;
}
.ourHp {
  grid-area: area6;
}
@media (max-width: 1022px) {
  .containerAbout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7vh 50vh auto auto;
    gap: 1rem;
    row-gap: 4.5rem;
    grid-template-areas:
      "area1"
      "area2"
      "area3"
      "area4"
      "area5"
      "area6";
    margin-top: 2rem;
    margin-bottom: 7.5%;
  }
}
